*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
scroll-behavior:smooth;
}

body{
background:#0f172a;
color:white;
}

/* NAVBAR */
header{
background:#020617;
position:fixed;
width:100%;
top:0;
}

nav{
display:flex;
justify-content:space-between;
padding:15px 40px;
}

.logo span{
color:#38bdf8;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:20px;
}

nav a{
color:white;
text-decoration:none;
}

/* HOME */
.home{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.home span{
color:#38bdf8;
}

button{
padding:10px 20px;
margin-top:15px;
border:none;
background:#38bdf8;
color:black;
cursor:pointer;
border-radius:5px;
}

/* SECTIONS */
section{
padding:90px 20px;
text-align:center;
}

/* PROJECTS */
.project-container{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
}

.card{
background:#1e293b;
padding:20px;
width:250px;
border-radius:10px;
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
}

/* SKILLS */
.skills span{
background:#38bdf8;
color:black;
padding:10px;
margin:10px;
display:inline-block;
border-radius:20px;
}

/* FOOTER */
footer{
background:#020617;
padding:15px;
text-align:center;
}